/* *{border: 1px red dotted;} */
body{
   background-color: silver;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   color: black;
}

.instr_w{
   margin-left: 20px;
   color: green;
}
ul{
   list-style-image: url('https://api.iconify.design/healthicons/l-outline.svg');
}
.vl{
   border-left: 10px solid yellowgreen;
   margin: 0;
   height: 100%;
}

#menu{
   margin: 30px;
   margin-left: 5%;
   margin-right: 5%;
   padding: 5px;
   background-color: rgba(161, 161, 161, 0.562);
   border-radius: 20px;
   display: grid;
   column-gap: 2%;
   grid-template-columns: auto 2% auto;
}
.menudzial{
   margin-bottom: 2px;
   margin-left: 15px;
   font-weight: bold;
   font-size: 18px;
}
.menulist{
   margin: 0;
}
.branch{
   cursor: pointer;
}
.branch:hover{
   background-color: rgba(104, 104, 104, 0.562);
   color: white;
}
.branch_kod{
   margin-left: 20px;
   cursor: pointer;
}
.branch_kod:hover{
   background-color: rgba(104, 104, 104, 0.562);
   color: white;
}

#instr_w{
   width: 100%;
}
.menudzial_w{
   margin-bottom: 2px;
   margin-left: 15px;
   color: rgb(23, 110, 23);
   font-weight: bold;
   font-size: 18px;
}
.menulist_w{
   margin: 0;
}
.branch_w{
   cursor: pointer;
   color: rgb(157, 247, 39);
   /* color: rgb(193, 245, 126); */
}
.branch_w:hover{
   /* color: rgb(63, 44, 4); */
   color: brown;
   background-color: rgb(255, 153, 0);
}
.branch_kod_w{
   margin-left: 20px;
   cursor: pointer;
   color: rgb(157, 247, 39);
}
.branch_kod_w:hover{
   color: brown;
   background-color: rgb(255, 153, 0);
}
