body{
   background-color: silver;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
}
hr{
   border: 2px dotted blue;
   width: 55%;
}
ul{
   list-style-image: url('https://api.iconify.design/healthicons/l-outline.svg');
}
input{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
}

#content{
   display: grid;
   grid-template-columns: 250px auto;
}

#menu{
   background-color: rgba(161, 161, 161, 0.562);
   border-radius: 20px;
}
.menudzial{
   margin-top: 15px;
   margin-bottom: 10px;
   margin-left: 15px;
}
.menulist{
   margin: 0;
}
.branch{
   cursor: pointer;
}
.branch:hover{
   background-color: rgba(104, 104, 104, 0.562);
   color: white;
}
.branch_kod{
   margin-left: 20px;
   cursor: pointer;
}
.branch_kod:hover{
   background-color: rgba(104, 104, 104, 0.562);
   color: white;
}

/* #cards{
   
} */
.nrdzialu{
   font-size: 30px;
   text-align: center;
   font-weight: bold;
}

.dzial1_div{
   text-align: center;
}
.dzial1{
   height: 120px;
   border-radius: 10px;
   width: 140px;
   text-wrap: wrap;
   color: rgb(0, 38, 255);
   background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
   transition: all .2s ease-in-out;
   margin-left: 20px;
   margin-bottom: 20px;
}
.dzial1:hover{
   transform: scale(1.1);
}

.dzial2_div{
   text-align: center;
}
.dzial2{
   height: 120px;
   border-radius: 10px;
   width: 140px;
   text-wrap: wrap;
   color: rgb(0, 38, 255);
   background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
   transition: all .2s ease-in-out;
   margin-left: 20px;
   margin-bottom: 20px;
}
.dzial2:hover{
   transform: scale(1.1);
}
#zal2{
   width: 200px;
}

.dzial3_div{
   text-align: center;
}
.dzial3{
   height: 120px;
   border-radius: 10px;
   width: 140px;
   text-wrap: wrap;
   color: rgb(255, 238, 0);
   background: linear-gradient(90deg, hsla(212, 93%, 49%, 1) 0%,hsla(210, 90%, 80%, 1) 100%);
   transition: all .2s ease-in-out;
   margin-left: 20px;
   margin-bottom: 20px;
}
.dzial3:hover{
   transform: scale(1.1);
}

/* *{border: 1px red dotted;} */